.Header{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #03A9F4;
    font-family: "Arial Black";
    font-size: 60px;
}

.correctAnswersCounter{
    font-family: cursive;
    color: #03A9F4;
}